{% extends 'home.html.twig' %}

{% block title %}Odysse{% endblock %}

{% block body %}

		
		<!-- ======================= Start Banner ===================== -->
		<div class="main-banner" style="background-image:url(assets/img/banner-1.jpg);">
			<div class="container">
				<div class="col-md-12">
				
					<div class="caption text-center cl-white">
						<h2>Discover Your Next Adventure</h2>
						<p>Expolore top rated tours, hotels and restaurants around the world</p>
					</div>
					
					<form>
						<fieldset class="home-form-1">
						
							<div class="col-md-3 col-sm-3 padd-0">
								<input type="text" class="form-control br-1" placeholder="City, Country">
							</div>
							
							<div class="col-md-3 col-sm-3 padd-0">
								<input type="text" name="book-date" class="form-control br-1" value="When...">
							</div>
								
							<div class="col-md-2 col-sm-2 padd-0">
								<div class="sl-box">
									<select class="wide form-control br-1">
										<option data-display="Adults">Adults</option>
										<option value="1">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
									</select>
								</div>
							</div>
								
							<div class="col-md-2 col-sm-2 padd-0">
								<div class="sl-box">
									<select class="wide form-control br-1">
										<option data-display="Children">Children</option>
										<option value="1">01</option>
										<option value="2">02</option>
										<option value="3">03</option>
										<option value="4">04</option>
									</select>
								</div>
							</div>
							
								
							<div class="col-md-2 col-sm-2 padd-0">
								<button type="submit" class="btn theme-btn cl-white seub-btn">FIND JOB</button>
							</div>
								
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<!-- ======================= End Banner ===================== -->
		
		<!-- ====================== How It Work ================= -->
		<section class="how-it-works">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Working Process</span>
							<h1>How It Works?</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
				
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-1.png" class="img-responsive" alt="" />
								<span class="process-num">01</span>
							</div>
							<h4>Choose a Destination & Guide</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-2.png" class="img-responsive" alt="" />
								<span class="process-num">02</span>
							</div>
							<h4>Choose your guide & Customize</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="work-process">
							<div class="process-img">
								<img src="assets/img/tour-3.png" class="img-responsive" alt="" />
								<span class="process-num">03</span>
							</div>
							<h4>Book Your Guide Online</h4>
							<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
						</div>
					</div>
					
				</div>
		
			</div>
		</section>
		<!-- ====================== How It Work ================= -->
		<div class="clearfix"></div>
		
		<!-- ====================== Popular Destination ================= -->
		<section class="destination gray-bg">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">View Destinations</span>
							<h1>Popular Destinations</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="list-slider">
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-1.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="destination-detail.html">Bali, Indonesia</a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$2887</span><span class="real-price padd-l-10 font-bold">$2782</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">New York, US</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-2.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="destination-detail.html">Grand Canyon National Park</a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$2587</span><span class="real-price padd-l-10 font-bold">$1282</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">Hong Kong</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-3.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="destination-detail.html">Prague, Czech Republic</a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$2569</span><span class="real-price padd-l-10 font-bold">$2547</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">Netherlands</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-4.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="destination-detail.html">Marrakech, Morroco</a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$1856</span><span class="real-price padd-l-10 font-bold">$1750</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">Saudi Arabia</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-5.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="#">New York City, New York</a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$4525</span><span class="real-price padd-l-10 font-bold">$4258</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">Switzerland</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
						<!-- Single Destination -->
						<div class="list-slide-box">
							<article class="destination-box style-1">

								<div class="destination-box-image">
									<figure>
										<a href="destination-detail.html">
											<img src="assets/img/destination/des-6.jpg" class="img-responsive listing-box-img" alt="" />
											<div class="list-overlay"></div>
										</a>
										<div class="discount-flick">-12%</div>
										<h4 class="destination-place">
											<a href="destination-detail.html">Halifax, Nova Scotia </a>
										</h4>
										<a href="#" class="list-like left"><i class="ti-heart"></i></a>
									</figure>
								</div>
								
								<div class="entry-meta">
									<div class="meta-item meta-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
									</div>
									<div class="meta-item meta-comment fl-right">
										<span class="text-through">$7802</span><span class="real-price padd-l-10 font-bold">$7581</span>
									</div>
								</div>

								<div class="inner-box">
									<div class="box-inner-ellipsis">
										<h4 class="entry-location">
											<a href="destination-detail.html">Singapore</a>
										</h4>
										<div class="price-box">
											<div class="destination-price fl-right">
												<a href="#"><i class="theme-cl ti-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
								
							</article>
						</div>
						
					</div>
				</div>
		
			</div>
		</section>
		<!-- ====================== Popular Destination End ================= -->
		<div class="clearfix"></div>
		
		<!-- ====================== Top Tour & Activities ================= -->
		<section>
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="heading">
							<span class="theme-cl">Select Tour</span>
							<h1>Top Tour & Activities</h1>
						</div>
					</div>
				</div>
				
				<div class="row">
						
					<!-- Single Tour -->
					<div class="col-md-4 col-sm-4">
						<article class="tour-box style-1">
							
							<div class="tour-box-image">
								<figure>
									<a href="tour-detail.html">
										<img src="assets/img/tour/tour-5.jpg" class="img-responsive listing-box-img" alt="" />
										<div class="list-overlay"></div>
									</a>
									<div class="entry-bookmark">                                   
										<a href="#"><i class="ti-bookmark"></i></a>
									</div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>17h</span>
									</div>
									<h4 class="destination-place">
										<a href="#">Dubai, United Arab Emirates</a>
									</h4>
									<span class="featured-tour"><i class="fa fa-star"></i></span>
									<a href="#" class="list-like left"><i class="ti-heart"></i></a>
								</figure>
							</div>
							
							<div class="entry-meta">
								<div class="meta-item meta-author">
									<div class="coauthors">
										<span class="vcard author">
											<span class="fn">
												<a href="#"><img alt="" src="assets/img/user-5.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
											</span>
										</span>
									</div>
								</div>
								<div class="meta-item meta-comment fl-right">
									<i class="ti-comment-alt"></i><span>15</span>
								</div>
								<div class="meta-item meta-rating fl-right">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half"></i>
								</div>
							</div>

							<div class="inner-box">
								<div class="box-inner-ellipsis">
									<h4 class="entry-title">
										<a href="tour-detail.html">Saudi Arabia</a>
									</h4>
									<div class="price-box">
										<div class="tour-price fl-right">
											<i class="ti ti-user"></i><span class="theme-cl f-bold">$117</span>
										</div>
									</div>
								</div>
							</div>
		
						</article>
					</div>
					
					<!-- Single Tour -->
					<div class="col-md-4 col-sm-4">
						<article class="tour-box style-1">
							
							<div class="tour-box-image">
								<figure>
									<a href="tour-detail.html">
										<img src="assets/img/tour/tour-6.jpg" class="img-responsive listing-box-img" alt="" />
										<div class="list-overlay"></div>
									</a>
									<div class="entry-bookmark">                                   
										<a href="#"><i class="ti-bookmark"></i></a>
									</div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>1 day</span>
									</div>
									<h4 class="destination-place">
										<a href="#">Paris, France. neirfy</a>
									</h4>
									<span class="featured-tour"><i class="fa fa-star"></i></span>
									<a href="#" class="list-like left"><i class="ti-heart"></i></a>
								</figure>
							</div>
							
							<div class="entry-meta">
								<div class="meta-item meta-author">
									<div class="coauthors">
										<span class="vcard author">
											<span class="fn">
												<a href="#"><img alt="" src="assets/img/user-6.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
											</span>
										</span>
									</div>
								</div>
								<div class="meta-item meta-comment fl-right">
									<i class="ti-comment-alt"></i><span>22</span>
								</div>
								<div class="meta-item meta-rating fl-right">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half"></i>
								</div>
							</div>

							<div class="inner-box">
								<div class="box-inner-ellipsis">
									<h4 class="entry-title">
										<a href="tour-detail.html">Singapore</a>
									</h4>
									<div class="price-box">
										<div class="tour-price fl-right">
											<i class="ti ti-user"></i><span class="theme-cl f-bold">$310</span>
										</div>
									</div>
								</div>
							</div>
		
						</article>
					</div>
					
					<!-- Single Tour -->
					<div class="col-md-4 col-sm-4">
						<article class="tour-box style-1">
							
							<div class="tour-box-image">
								<figure>
									<a href="tour-detail.html">
										<img src="assets/img/tour/tour-2.jpg" class="img-responsive listing-box-img" alt="" />
										<div class="list-overlay"></div>
									</a>
									<div class="entry-bookmark">                                   
										<a href="#"><i class="ti-bookmark"></i></a>
									</div>
									<div class="tour-time">
										<i class="ti ti-car"></i><span>70h</span>
									</div>
									<h4 class="destination-place">
										<a href="#">London, England. AndreaAstes</a>
									</h4>
									<span class="featured-tour"><i class="fa fa-star"></i></span>
									<a href="#" class="list-like left"><i class="ti-heart"></i></a>
								</figure>
							</div>
							
							<div class="entry-meta">
								<div class="meta-item meta-author">
									<div class="coauthors">
										<span class="vcard author">
											<span class="fn">
												<a href="#"><img alt="" src="assets/img/user-7.jpg" class="avatar avatar-24" height="24" width="24">Lisa Scholfield</a>
											</span>
										</span>
									</div>
								</div>
								<div class="meta-item meta-comment fl-right">
									<i class="ti-comment-alt"></i><span>15</span>
								</div>
								<div class="meta-item meta-rating fl-right">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half"></i>
								</div>
							</div>

							<div class="inner-box">
								<div class="box-inner-ellipsis">
									<h4 class="entry-title">
										<a href="tour-detail.html">United Kingdom</a>
									</h4>
									<div class="price-box">
										<div class="tour-price fl-right">
											<i class="ti ti-user"></i><span class="theme-cl f-bold">$217</span>
										</div>
									</div>
								</div>
							</div>
		
						</article>
					</div>
				</div>
		
			</div>
		</section>
		<!-- ====================== Top Tour & Activities ================= -->
		<div class="clearfix"></div>

		
		<!-- ============== Before Footer ====================== -->
		<section class="before-footer bt-1 bb-1">
			<div class="container-fluid padd-0 full-width">
			
				<div class=" col-md-2 col-sm-2 br-1 mbb-1">
					<div class="data-flex">
						<h4>Contact Us!</h4>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
					53 Boulevard Victor Hugo 44200 Nantes, France
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3 br-1 mbb-1">
					<div class="data-flex text-center">
						<span class="d-block mrg-bot-0">06 52 52 20 30</span>
						<a href="#" class="theme-cl"><strong>hello@gmail.com</strong></a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-4 padd-0">
					<div class="data-flex padd-0">
						<ul class="social-share">
							<li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>
		<!-- =================== Before Footer ====================== -->
		
		<!-- Sign Up Window Code -->
		<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="myModalLabel1">
					<div class="modal-body">
						<div class="text-center"><img src="assets/img/logo.png" class="img-responsive" alt=""></div>
						
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" data-toggle="tab" href="#employer" role="tab">
								<i class="ti-user"></i> Employer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#candidate" role="tab">
								<i class="ti-user"></i> Candidate</a>
							</li>
						</ul>
						<!-- Nav tabs -->
							
						<!-- Tab panels -->
						<div class="tab-content">
						
							<!-- Employer Panel 1-->
							<div class="tab-pane fade in show active" id="employer" role="tabpanel">
								<form>
									
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="User Name">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*********">
									</div>
									
									<div class="form-group">
										<span class="custom-checkbox">
											<input type="checkbox" id="4">
											<label for="4"></label>Remember me
										</span>
										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>
									</div>
									
								</form>
								
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-6">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>
									</div>
									<div class="col-md-6">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>
									</div>
								</div>
					
							</div>
							<!--/.Panel 1-->
							
							<!-- Candidate Panel 2-->
							<div class="tab-pane fade" id="candidate" role="tabpanel">
								<form>
									
									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="User Name">
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*********">
									</div>
									
									<div class="form-group">
										<span class="custom-checkbox">
											<input type="checkbox" id="4">
											<label for="4"></label>Remember me
										</span>
										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>
									</div>
									<div class="form-group text-center">
										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>
									</div>
									
								</form>
								
								<div class="log-option"><span>OR</span></div>
								
								<div class="row mrg-bot-20">
									<div class="col-md-6">
										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>
									</div>
									<div class="col-md-6">
										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>
									</div>
								</div>
								
							</div>
							<!--/.Panel 2-->
							
						</div>
						<!-- Tab panels -->
					</div>
				</div>
			</div>
		</div>   
		<!-- End Sign Up Window -->
		
		<!-- Switcher -->
		<button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin theme-cl fa fa-cog" aria-hidden="true"></i></button>
		<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
		  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large theme-bg">Close &times;</button>
		   <ul id="styleOptions" title="switch styling">
				<li>
					<a href="javascript: void(0)" class="cl-box cl-default" data-theme="skins/default"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-red" data-theme="skins/red"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-green" data-theme="skins/green"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-blue" data-theme="skins/blue"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-pink" data-theme="skins/pink"></a>
				</li>
				<li>
					<a href="javascript: void(0)" class="cl-box cl-purple" data-theme="skins/purple"></a>
				</li>
			</ul>
		</div>
		<!-- /Switcher -->
{% endblock %}
